html, body {
  background: #101010;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  height: 100%; 
  overflow: hidden; 
}

canvas {
  display: inline-block;
  vertical-align: bottom;
} 

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none; /* Safari, Chrome antigos */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge antigos */
  user-select: none;         /* Navegadores modernos */
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.grupo {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.root {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1; 
}

a {
  color: inherit;
  text-decoration: none;
  transition: 300ms;
  display: flex;
  flex-direction: column;
}
a:hover {
  color: #4692ff;
}
a > div {
  width: 0;
  height: 3px;
  transition: 300ms;
  background: linear-gradient(
    90deg,
    rgba(70, 146, 255, 1) 0%,
    rgba(70, 146, 255, 0) 100%
  );
}

a:hover > div {
  width: 2rem;
}
